.body_backgorund {
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: red; 
      font-size: 40px;
  }

  #img{
    width: 50%;
    height: 50%;
background-color: white;
border-radius: 0px;
border: 5px silver solid;
  }